@model Wardrobe2.Models.Bottom

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bottom</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bottoms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bottoms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClothingProperty.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClothingProperty.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BottomsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
